<nz-card>
  <ng-template #title>
    <h5>SBAPI 登录</h5>
  </ng-template>
  <ng-template #body>
    <nz-alert [nzType]="'error'" *ngIf="err">
      <span alert-body>
        <pre>{{err}}</pre>
      </span>
    </nz-alert>
    <div style="margin-top: 16px;"></div>
    
    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="_submitForm($event, loginForm.value)">
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="loginForm.controls.username">
          <nz-input formControlName="username" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="loginForm.controls.username.dirty&&loginForm.controls.username.hasError('required')">请输入你的账户名!</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="loginForm.controls.password">
          <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="loginForm.controls.password.dirty&&loginForm.controls.password.hasError('required')">请输入你的密码!</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>保持登录状态</span>
          </label>
          <a class="login-form-forgot" class="login-form-forgot">忘记密码？</a>
          <button nz-button class="login-form-button" [disabled]="!loginForm.valid" [nzType]="'primary'" [nzSize]="'large'">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
          <!-- Or
          <a href="">register now!</a> -->
        </div>
      </div>
    </form>
  </ng-template>
</nz-card>
