<form nz-form *ngIf="docForm" [formGroup]="docForm" (ngSubmit)="_submitForm($event, docForm.value)" [nzLayout]="'horizontal'">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
      <label for="title" nz-form-item-required>文档标题</label>
    </div>
    <div nz-form-control nz-col [nzSm]="16" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('title')">
      <nz-input [nzSize]="'large'" formControlName="title" [nzId]="'title'"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('title').dirty&&getFormControl('title').hasError('required')">请输入文档标题!</div>
    </div>
  </div>
  
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
      <label for="version">文档版本</label>
    </div>
    <div nz-form-control nz-col [nzSm]="6" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('version')">
      <nz-input [nzSize]="'large'" formControlName="version" [nzId]="'version'"></nz-input>
    </div>

    <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
      <label for="isPublished">是否发布</label>
    </div>
    <div nz-form-control nz-col [nzSm]="6" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('isPublished')">
      <nz-input [nzSize]="'large'" formControlName="isPublished" [nzId]="'isPublished'"></nz-input>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label for="description">文档说明</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="16" nzHasFeedback [nzValidateStatus]="getFormControl('description')">
      <nz-input formControlName="description" nzType="textarea" nzRows="4" [nzAutosize]="autosize"></nz-input>
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzSpan]="14" [nzOffset]="4">
      <button nz-button [nzType]="'primary'" [nzSize]="'large'">
          <span>保存</span>
      </button>
    </div>
  </div>
</form>