<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" [hidden]="true">
  <div nz-row [nzGutter]="40">
    <div nz-col [nzSpan]="8" *ngFor="let control of controlArray" [style.display]="control.show?'block':'none'">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label [attr.for]="control.index">{{control.label}}</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-input [nzSize]="'large'" [nzPlaceHolder]="'请输入'+control.label" [formControlName]="control.index" [nzId]="control.index"></nz-input>
        </div>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" style="text-align: right;">
      <button nz-button [nzType]="'primary'">搜索</button>
      <button nz-button (click)="resetForm()">清空</button>
      <!-- <a style="margin-left:8px;font-size:12px;" (click)="toggleCollapse()">
        Collapse
        <i class="anticon" [class.anticon-down]="isCollapse" [class.anticon-up]="!isCollapse"></i>
      </a> -->
    </div>
  </div>
</form>

<div nz-row style="margin-bottom: 8px; margin-top: 16px;">
  <div nz-col [nzSpan]="12">
    <h5 style="margin-top: 4px;"><!-- 根据业务分析，这里是我的项目列表 -->项目列表</h5>
  </div>
  <div nz-col [nzSpan]="12" style="text-align: right;">
    <button nz-button><i class="anticon anticon-plus"></i> 新增</button>
    <button nz-button><i class="anticon anticon-cloud-upload"></i> 导入</button>
  </div>
</div>
<div class="search-result-list1" style="background: #ffffff;">
  <nz-table #nzTable [nzDataSource]="data" [nzIsPagination]="false">
    <thead nz-thead>
      <tr>
        <th nz-th><span>名称</span></th>
        <th nz-th><span>短名称</span></th>
        <th nz-th><span>我的角色</span></th>
        <th nz-th><span>创建时间</span></th>
        <th nz-th><span>状态</span></th>
        <th nz-th style="text-align: right;"><span>操作</span></th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>
          <a [routerLink]="['../', data.projId]"><strong>{{data.name}}</strong></a>
        </td>
        <td nz-td>{{data.code}}</td>
        <td nz-td>{{data.role}}</td>
        <td nz-td>{{data.createDate | date: 'yyyy-MM-dd HH:mm'}}</td>
        <td nz-td>{{data.status == 'open' ? '开启' : '关闭'}}</td>
        <td nz-td style="text-align: right;">
          <button nz-button nzSize="small" nzType="primary" [nzGhost]="true" [routerLink]="['../', data.projId]"><i class="anticon anticon-info-circle"></i> 详情</button>
          <button nz-button nzSize="small" nzType="primary" [nzGhost]="true"><i class="anticon anticon-frown-o"></i> 退出</button>
          <button nz-button nzSize="small" nzType="primary" [nzGhost]="true"><i class="anticon anticon-copy"></i> 复制</button>
          <button nz-button nzSize="small" nzType="danger" [nzGhost]="true"><i class="anticon anticon-delete"></i> 删除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>