<div nz-row [nzGutter]="8" style="padding: 8px 0; margin: 8px 0; border-bottom: 2px solid #eee; font-weight: 600;">
  <div nz-col [nzSpan]="2">
    <div>操作</div>  
  </div>
  <div nz-col [nzSpan]="3">
    <div>字段</div>  
  </div>
  <div nz-col [nzSpan]="3">
    <div>参数位置</div>  
  </div>
  <div nz-col [nzSpan]="3">
    <div>类型</div>  
  </div>
  <div nz-col [nzSpan]="3">
    <div>引用</div>  
  </div>
  <div nz-col [nzSpan]="3">
    <div>自定义</div>  
  </div>
  <div nz-col [nzSpan]="3">
    <div>更多</div>  
  </div>
</div>

<div nz-row [nzGutter]="8" style="padding: 8px 0; margin: 8px 0; background-color: #efefff;">
  <div nz-col [nzSpan]="2">
    <button nz-button nzType="dashed"><i class="anticon anticon-swap"></i></button>
    <button nz-button nzType="dashed"><i class="anticon anticon-close"></i></button>
  </div>
  <div nz-col [nzSpan]="3">
    <nz-input nzPlaceHolder=""></nz-input>
  </div>
  <div nz-col [nzSpan]="3">
    <nz-select style="width: 100%;" nzPlaceHolder="">
      <nz-option 
          [nzLabel]="'body'"
          [nzValue]="'body'"
          [nzDisabled]="false">
      </nz-option>
    </nz-select>
    
  </div>
  <div nz-col [nzSpan]="3">
    <nz-select style="width: 100%;" nzPlaceHolder="">
      <nz-option 
          [nzLabel]="'body'"
          [nzValue]="'body'"
          [nzDisabled]="false">
      </nz-option>
    </nz-select>
  </div>
  <div nz-col [nzSpan]="3">
    <nz-select style="width: 100%;" nzPlaceHolder="" [nzDisabled]="true">
      <nz-option 
          [nzLabel]="'body'"
          [nzValue]="'body'"
          [nzDisabled]="false">
      </nz-option>
    </nz-select>
  </div>
  <div nz-col [nzSpan]="3">
    <button nz-button disabled>自定义结构</button>
  </div>
  <div nz-col [nzSpan]="3">
    <button nz-button>更多</button>
  </div>
</div>

<div style="margin-top: 16px;">
  <button nz-button nzType="primary"><i class="anticon anticon-plus"></i> 新增</button>
  <button nz-button nzType="danger"><i class="anticon anticon-delete"></i> 清空</button>
</div>