<div nz-row [nzType]="'flex'" [nzGutter]="8" class="re-header">
  <div nz-col style="width: 72px;">
    <div>操作</div>
  </div>
  <div nz-col [nzSpan]="3">
    <div>字段</div>
  </div>
  <div nz-col [nzSpan]="3">
    <div>参数位置</div>
  </div>
  <div nz-col [nzSpan]="3">
    <div>类型</div>
  </div>
  <div nz-col [nzSpan]="3">
    <div>引用</div>
  </div>
  <div nz-col [nzSpan]="3">
    <div>自定义</div>
  </div>
  <div nz-col [nzSpan]="3">
    <div>更多</div>
  </div>
</div>

<div nz-row [nzType]="'flex'" [nzGutter]="8" class="re-row" *ngFor="let param of interParams">
  <div nz-col style="width: 72px;">
    <button nz-button nzType="dashed"><i class="anticon anticon-swap"></i></button>
    <button nz-button nzType="dashed" (click)="delete($event, param.id)"><i class="anticon anticon-close"></i></button>
  </div>
  <div nz-col [nzSpan]="3">
    <nz-input nzPlaceHolder="字段名" name="code" [(ngModel)]="param.code"></nz-input>
  </div>
  <div nz-col [nzSpan]="3">
    <nz-select style="width: 100%;" nzPlaceHolder="参数位置" name="position" [(ngModel)]="param.position">
      <nz-option *ngFor="let item of _positions" [nzLabel]="item.label" [nzValue]="item.value" [nzDisabled]="item.disabled">
      </nz-option>
    </nz-select>

  </div>
  <div nz-col [nzSpan]="3">
    <nz-select style="width: 100%;" nzPlaceHolder="参数类型" name="type" [(ngModel)]="param.type">
      <nz-option *ngFor="let item of _typies" [nzLabel]="item.label" [nzValue]="item.value" [nzDisabled]="(item.value == 'sys_ref' || item.value == 'cust_json') && param.position != 'body'">
      </nz-option>
    </nz-select>
  </div>
  <div nz-col [nzSpan]="3">
    <nz-select style="width: 100%;" nzPlaceHolder="引用" [nzDisabled]="true" name="refSchemaId" [(ngModel)]="param.refSchemaId">
      <nz-option [nzLabel]="'body'" [nzValue]="'body'" [nzDisabled]="false">
      </nz-option>
    </nz-select>
  </div>
  <div nz-col [nzSpan]="3">
    <button nz-button disabled>自定义结构</button>
  </div>
  <div nz-col>
    <button nz-button>更多</button>
  </div>
</div>

<div style="margin-top: 16px;">
  <button nz-button nzType="primary" [nzGhost]="true" (click)="add($event)"><i class="anticon anticon-plus"></i> 新增</button>
  <button nz-button nzType="primary" [nzGhost]="true" (click)="save($event)"><i class="anticon anticon-save"></i> 保存</button>
  <button nz-button nzType="primary" [nzGhost]="true" (click)="reload($event)"><i class="anticon anticon-reload"></i> 还原</button>
  <button nz-button nzType="danger" [nzGhost]="true" (click)="clean($event)"><i class="anticon anticon-delete"></i> 清空</button>
</div>
