<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <span *ngIf="isCollapsed">SB</span>
      <span *ngIf="!isCollapsed">SB - API</span>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-menu-item [routerLink]="['info']" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
        <span><i class="anticon anticon-info-circle-o"></i><span class="nav-text">项目基本信息</span></span></li>
      
      <li nz-menu-item [routerLink]="['members']" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
        <span><i class="anticon anticon-team"></i><span class="nav-text">项目成员</span></span></li>

      <li nz-menu-item style="display: none;" [routerLink]="['document/view/list']" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
        <span><i class="anticon anticon-camera-o"></i><span class="nav-text">文档视图</span></span></li>

      <li nz-menu-item style="display: none;" [routerLink]="['sendNotice']" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
        <span><i class="anticon anticon-mail"></i><span class="nav-text">变更通知</span></span></li>

      <li nz-menu-item style="display: none;" [routerLink]="['log/list']" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
        <span><i class="anticon anticon-fork"></i><span class="nav-text">变更历史</span></span></li>

      <li nz-menu-item [routerLink]="['document', project.docId, 'inter']" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
        <span><i class="anticon anticon-api"></i><span class="nav-text">接口管理</span></span></li>

      <li nz-menu-item style="display: none;" [routerLink]="['document', project.docId, 'schema']" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
        <span><i class="anticon anticon-calculator"></i><span class="nav-text">数据结构</span></span></li>

      <li nz-menu-item style="display: none;" [routerLink]="['role/list']" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
        <span><i class="anticon anticon-idcard"></i><span class="nav-text">项目角色</span></span></li>

      <li nz-submenu style="display: none;"> <!-- antd 的 bug， 不加这个的话菜单项的样式和 main-layout 对应不上 -->
        <span title><span class="nav-text"></span></span>
        <ul>
            <li nz-menu-item><span></span></li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <sb-header [(isCollapsed)]="isCollapsed"></sb-header>
    </nz-header>
    <nz-content>
      <div nz-row style="background: #fefdfe; border-top: 1px solid #eeeeee; border-bottom: 1px solid #dddddd; padding: 6px 12px;">
        <div nz-col [nzSpan]="8">
          <h3 style="margin-top: 3px;">{{project?.name}}</h3>
        </div>
        <div nz-col [nzSpan]="16" style="text-align: right;">
          <a href="/sosoapi-web/auth/apidoc/preview.htm?docId={{project.docId}}" target="_blank">
            <button nz-button nzType="primary"><i class="anticon anticon-eye-o"></i> 预览</button>
          </a>
          <button nz-button nzType="primary" disabled><i class="anticon anticon-share-alt"></i> 分享设置</button>
          <button nz-button nzType="primary" disabled><i class="anticon anticon-tool"></i> Mock设置</button>
          <button nz-button nzType="primary" disabled><i class="anticon anticon-fork"></i> 变更通知</button>
          <nz-dropdown nzPlacement="bottomRight">
            <button nz-button nz-dropdown nzType="primary"><i class="anticon anticon-cloud-download"></i><span> 导出</span> <i class="anticon anticon-down"></i></button>
            <ul nz-menu>
              <li nz-menu-item>
                <a href="/sosoapi-web/auth/apidoc/export.htm?docId={{project.docId}}&docFormat=html">HTML</a>
              </li>
              <li nz-menu-item>
                <a href="/sosoapi-web/auth/apidoc/export.htm?docId={{project.docId}}&docFormat=doc">Word</a>
              </li>
              <li nz-menu-item style="display: none;">
                <a>PDF</a>
              </li>
              <li nz-menu-item>
                <a href="/sosoapi-web/auth/apidoc/export.htm?docId={{project.docId}}&docFormat=json">Swagger</a>
              </li>
              <li nz-menu-item style="display: none;">
                <a>Postman</a>
              </li>
            </ul>
          </nz-dropdown>
        </div>
      </div>
      
      <div style="margin:0 16px; padding-top: 16px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center; display: none;">© 2015-2017 厦门三秋树网络科技有限公司 版权所有</nz-footer>
  </nz-layout>
</nz-layout>