.member-item {
    padding: 8px 12px;
    border-bottom: 1px solid #eeeeee;
    line-height: 20px;
    font-weight: bold;
    display: flex;

    .name {
        line-height: 20px;
        flex: 1;
    }

    .actions {
        flex: 1;
        text-align: right;
    }
}